{% extends "base_site.html" %}

{% block title %} Movie_details {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title col-md-8 col-md-offset-2"><h2>超时空同居</h2><div class="clearfix"></div></div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-2" >
                <div class="col-md-10 col-md-offset-2">
                    <img style="width:100%" src="/static/images/test1.webp" alt="image">
                </div>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-12 col-md-offset-1" style="border:0px solid #e5e5e5;">
                <br/>
                <br/>
                <br/>
                <ul class="quick-list">
                  <li>导演： 苏伦</li>
                  <li>编剧： 苏伦</li>
                  <li>主演： 雷佳音 / 佟丽娅 / 张衣 / 于和伟 / 王正佳 / 陶虹 / 李念 / 李光洁 / 杨玏 / 范明 / 徐峥 / 杨迪 / 方龄 / 陈昊</li>
                  <li>类型： 喜剧 / 奇幻</li>
                  <li>制片国家/地区： 中国大陆</li>
                  <li>语言： 汉语普通话</li>
                  <li>上映日期： 2018-05-18(中国大陆)</li>
                  <li>片长： 101分钟</li>
                  <li>评分： 7.2</li>
                  <!--<li><button id="score" type="button" class="btn btn-primary btn-xs">我已看过我来打分</button></li>-->
                </ul>
                <div id="scorediv">
                  <ul class="list-inline">
                    <li>
                    <ul id="myul" class="list-inline" style="font-size: 18px;color: teal;">
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                    </ul>
                    </li>
                    <li>
                    <ul class="list-inline">
                        <li><input type="button" class="btn btn-primary btn-xs" value="打分" id="ok"> </li>
                    </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 col-sm-3 col-xs-6 col-md-offset-2" >
                <div>
                    <section>
                      <h3 class="page-header">剧情简介 · · · · · ·</h3>
                      <p>来自2018年谷小焦（佟丽娅 饰）与1999年陆鸣（雷佳音 饰），两人时空重叠意外住在同一个房间。从互相嫌弃到试图“共谋大业”，阴差阳错发生了一系列好笑的事情。乐在其中的两人并不知道操控这一切的神秘人竟是想要去2037年“投机取巧”的2018年的……</p>
                    </section>
                </div>
              </div>
              <div class="col-md-8 col-sm-3 col-xs-6 col-md-offset-2" >
                <div>
                    <section>
                      <h4 class="page-header">电影播放链接 · · · · · ·</h4>
                      <p>https://www.imdb.com/title/tt8404272/</p>
                    </section>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!--长文本收缩展开插件-->
  <script src="{{ url_for('static', filename='vendors/jquery.truncatable/jquery.truncatable.js') }}"></script>
  <script>
      $(function () {
            $('#articleIntroStr').truncatable();
        });
  </script>
  <script src="{{ url_for('static', filename='vendors/jquery.XYTipsWindow/jquery.XYTipsWindow.min.2.8.js') }}"></script>
  <script>
    //    入口函数
        $(function(){
    //        设置两个状态的星星
            var emptyStar="☆";
            var fullStar="★";
    //        li鼠标移入事件
            $("#myul").children("li").mouseenter(function(){
                $(this).text(fullStar).prevAll().text(fullStar).end().nextAll().text(emptyStar);
            });
    //        li鼠标离开事件
            $("#myul").children("li").mouseleave(function(){
                $("#myul").children("li").text(emptyStar);
                $("#myul").children("li.current").text(fullStar).prevAll().text(fullStar).end().nextAll().text(emptyStar);

            });
    //        li点击事件
            $("#myul").children("li").click(function(){
                if($(this).hasClass("current")){
                    $(this).removeAttr("class");
                }else{
                    $(this).attr("class","current").siblings().removeAttr("class");
                }
            })
    //        button点击事件
            $("#ok").click(function(){
                var boo=false;
                for(var i=0;i<$("#myul>li").length;i++){
                    if($("#myul>li").hasClass("current")){
                        boo=true;
                    }
                }
                if(boo){
                    console.log("分数："+($("#myul>li.current").index()+1)+"分");
                    var score = $("#myul>li.current").index()+1;
                    var data= {
                        data: JSON.stringify({
                            "score": score
                        })
                    }
                    $.ajax({
                      type: "POST",
                      dataType: "Json",
                      url: "{{ url_for('home_blueprint.score') }}",
                      data: data,
                      success:function (res) {
                          alert("Scored Successfully");
                      }
                    });
                    console.log("test");
                }else{
                return alert("您还没有选择呢！");
                }
            })
        })
   </script>
{% endblock javascripts %}