{% extends "base_site.html" %}

{% block title %} Movie_details {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title col-md-8 col-md-offset-2"><h2>{{ movie_name }}</h2><div class="clearfix"></div></div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-2" >
                <div class="col-md-10 col-md-offset-2">
                  {% if movie_post　%}
                    <img style="width:100%" src="{{ movie_post }}" alt="image">
                  {% else %}
                    <img style="width:100%" src="/static/images/post.jpg" alt="image">
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-12 col-md-offset-1" style="border:0px solid #e5e5e5;">
                <br/>
                <br/>
                <br/>
                <ul class="quick-list">
                  <li>导演： {{ movie_director }}</li>
                  <li>编剧： {{ movie_creator }}</li>
                  <li>主演： {{ movie_stars }}</li>
                  <li>类型： {{ movie_kind }}</li>
                  <li>制片国家/地区： {{ movie_country }}</li>
                  <li>语言： {{ movie_language }}</li>
                  <!--<li>上映日期： {{ movie_ }}</li>-->
                  <li>片长： {{ movie_runtime }} 分钟</li>
                  <li>评分： {{ movie_score }}</li>
                  <!--<li><button id="score" type="button" class="btn btn-primary btn-xs">我已看过我来打分</button></li>-->
                </ul>
                <div id="scorediv">
                  <ul class="list-inline">
                    <li>
                    <ul id="myul" class="list-inline" style="font-size: 18px;color: teal;">
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                        <li>☆</li>
                    </ul>
                    </li>
                    <li>
                    <ul class="list-inline">
                        <li><input type="button" class="btn btn-primary btn-xs" value="打分" id="ok"> </li>
                    </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 col-sm-3 col-xs-6 col-md-offset-2" >
                <div>
                    <section>
                      <h3 class="page-header">{{ movie_name }}剧情简介 · · · · · ·</h3>
                      <p>{{ movie_story }}</p>
                    </section>
                </div>
              </div>
              <div class="col-md-8 col-sm-3 col-xs-6 col-md-offset-2" >
                <div>
                    <section>
                      <h4 class="page-header">电影播放链接 · · · · · ·</h4>
                      <p><a href="{{ movie_url }}">{{ movie_url }}</a></p>
                    </section>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!--长文本收缩展开插件-->
  <script src="{{ url_for('static', filename='vendors/jquery.truncatable/jquery.truncatable.js') }}"></script>
  <script>
      $(function () {
            $('#articleIntroStr').truncatable();
        });
  </script>
  <script src="{{ url_for('static', filename='vendors/jquery.XYTipsWindow/jquery.XYTipsWindow.min.2.8.js') }}"></script>
  <script>
    //    入口函数
        $(function(){
    //        设置两个状态的星星
            var emptyStar="☆";
            var fullStar="★";
    //        li鼠标移入事件
            $("#myul").children("li").mouseenter(function(){
                $(this).text(fullStar).prevAll().text(fullStar).end().nextAll().text(emptyStar);
            });
    //        li鼠标离开事件
            $("#myul").children("li").mouseleave(function(){
                $("#myul").children("li").text(emptyStar);
                $("#myul").children("li.current").text(fullStar).prevAll().text(fullStar).end().nextAll().text(emptyStar);

            });
    //        li点击事件
            $("#myul").children("li").click(function(){
                if($(this).hasClass("current")){
                    $(this).removeAttr("class");
                }else{
                    $(this).attr("class","current").siblings().removeAttr("class");
                }
            })
    //        button点击事件
            $("#ok").click(function(){
                var boo=false;
                for(var i=0;i<$("#myul>li").length;i++){
                    if($("#myul>li").hasClass("current")){
                        boo=true;
                    }
                }
                if(boo){
                    console.log("分数："+($("#myul>li.current").index()+1)+"分");
                    var score = $("#myul>li.current").index()+1;
                    alert("您此次打分成功！为"+score+"分！");
                    var data= {
                        data: JSON.stringify({
                            "score": score
                        })
                    }
                    $.ajax({
                      type: "POST",
                      dataType: "Json",
                      url: "{{ url_for('home_blueprint.score') }}",
                      data: data,
                      success:function (res) {
                          <!--alert("您此次打分成功！为"+res+"分！");-->
                      }
                    });
                }else{
                return alert("您还没有选择呢！");
                }
            })
        })
   </script>
{% endblock javascripts %}